.contact_container {
  row-gap: 3rem;
}

.contact_info {
  display: flex;
  margin-bottom: var(--mb-2);
  align-items: center;
}

.contact_icon {
  color: var(--first-color);
  font-size: 2rem;
  margin-right: var(--mb-0-75);
}

.contact_title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact_content {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
}

.contact_input {
  width: 100%;
  border-radius: 1rem;
  background-color: var(--body-color);
  box-shadow: var(--shadow-effect), var(--shadow-inset-effect);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.75rem 2.5rem 0.75rem 1.5rem;
  resize: none;
}

.contact_label {
  position: absolute;
  color: var(--text-color-light);
  top: 1.95rem;
  left: 1.5rem;
  transform: translateY(-50%);
  transition: 0.3s;
  pointer-events: none;
}

::placeholder {
  color: var(--text-color-light);
  opacity: 1;
}

.contact_input:focus + .contact_label,
.contact_input:not(:placeholder-shown) + .contact_label {
  top: -0.5rem;
  left: 0.5rem;
  font-size: 0.85rem;
  color: var(--first-color);
  z-index: 10;
}

/* Alert */
.contact_alert-icon {
  color: var(--alert-color);
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.95rem;
  right: 0.75rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.contact_alert-text {
  position: absolute;
  background-color: var(--body-color);
  top: 0.25rem;
  right: 3rem;
  box-shadow: var(--shadow-effect);
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  padding: 1rem;
  color: var(--alert-color);
  z-index: var(--z-fixed);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.contact_alert-icon:hover + .contact_alert-text {
  opacity: 1;
  visibility: visible;
}

.contact_alert-show {
  opacity: 1;
  visibility: visible;
}

.alert_close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

/* Invalid */
.contact_invalid .contact_alert-icon {
  opacity: 1;
  visibility: visible;
}

.contact_invalid .contact_input {
  border-color: var(--alert-color);
}

.contact_invalid .contact_label {
  color: var(--alert-color);
}

.contact_invalid ::placeholder {
  color: var(--alert-color);
}

.alert_container {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  position: fixed;
  padding: 0 1.25rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-modal);
}

.alert_box {
  background-color: var(--container-color);
  margin: auto;
  max-width: 368px;
  height: 526px;
  border-radius: 1.75rem;
  overflow: hidden;
}

.alert_top {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.alert_top-wrong {
  background-color: var(--alert-color-lighter);
}

.wrong_icon {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  animation: hitPlane .3s;
}

@keyframes hitPlane {
  from {
    transform: translateY(-150%);
  }
}

.icon_shadow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--alert-color-lighter);
  animation: shadow .3s;
  z-index: 1;
}

@keyframes shadow {
  from {
    width: 0;
  }
}

.alert_round {
  position: absolute;
  bottom: -50px;
  width: 100%;
  height: 100px;
  border-radius: 50%;
  background-color: var(--container-color);
}

.alert_content {
  display: grid;
  height: 50%;
  text-align: center;
  place-items: center;
  padding: 1rem;
  z-index: 10;
}

.alert_data {
  width: 75%;
}

.alert_top-success {
  background-color: var(--first-color-lighter);
}

.alert_clouds {
  position: absolute;
  bottom: -90%;
}

.alert_cloud {
  background-color: var(--container-color);
  width: 445px;
  height: 420px;
  border-radius: 50%;
}

.alert_cloud1 {
  position: absolute;
  bottom: -145%;
  left: -50%;
  animation: cloud 1s;
}

.alert_cloud2 {
  position: absolute;
  bottom: -155%;
  left: 0%;
  animation: cloud 1s;
}

.alert_cloud3 {
  position: absolute;
  bottom: -130%;
  right: -85%;
  animation: cloud 1s;
}

@keyframes cloud {
  from {
    bottom: -160%;
  }
}

.success_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-200%, 120%) rotate(-60deg) scale(0.1);
  animation: flyPlane 1s alternate 0.6s forwards;
}

@keyframes flyPlane {
  from {
    transform: translate(-200%, 120%) rotate(-60deg) scale(0.1);
  }
  to {
    transform: translate(-50%, -50%) rotate(0) scale(1);
  }
}
