.services_contents {
  position: relative;
  min-height: 50vh;
}

.services_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.services_box {
  background: var(--body-color);
  box-shadow: var(--shadow-effect);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  padding: 1.25rem;
  animation: blub 1s infinite alternate;
}

.services_img {
  width: 100%;
}

@keyframes blub {
  100% {
    fill: #ddd;
    box-shadow: none;
  }
}
